.login-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
}

.login-card {
  backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.08);
  padding: 40px;
  border-radius: 20px;
  width: 320px;
  text-align: center;
  color: white;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.4);
}

.login-card h2 {
  margin-bottom: 20px;
}

.login-card input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 10px;
  border: none;
  outline: none;
}

.login-card button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 10px;
  background: linear-gradient(to right, #00c6ff, #0072ff);
  color: white;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
}
