/* ===== Section ===== */
.vm-section {
  padding: 80px 20px;
  background-size: cover;
  background-position: center;
  position: relative;
}

/* overlay soft effect */
.vm-section::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(255, 255, 255, 0.795);
  z-index: 0;
}

/* container */
.vm-container {
  max-width: 1200px;
  margin: auto;
  position: relative;
  z-index: 1;
}

/* title */
.vm-title {
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  color: #1c5d8c;
  margin-bottom: 50px;
}

/* cards wrapper */
.vm-cards {
  display: flex;
  gap: 30px;
  justify-content: center;
}

/* card */
.vm-card {
  flex: 1;
  padding: 30px;
  border-radius: 16px;
  backdrop-filter: blur(10px);
  transition: 0.3s ease;
  display: flex;
  flex-direction: column; /* 🔥 KEY */
}

/* hover */
.vm-card:hover {
  transform: translateY(-5px);
}

/* header */
.vm-card-header {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 15px;
}

.vm-card-header h3 {
  font-size: 20px;
  font-weight: 600;
  font-family: "syne", sans-serif;
}

/* icon */
.vm-icon img {
  width: 56px;
  height: 56px;
}

/* text */
.vm-card p {
  font-family: "Syne", sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 29.25px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #000;
  flex-grow: 1;
}

/* bottom line */
.vm-line {
  height: 2px;
  width: 100%;
  margin-top: 20px;
}

/* ===== Vision ===== */
.vm-vision {
  position: relative;
  border-radius: 20px;
  padding: 30px;

  /* glass background */
  background: rgba(0, 150, 200, 0.1); /* beige tint */
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);

  /* soft border like screenshot */
  border: 1px solid rgba(255, 255, 255, 0.3);

  /* smooth shadow */
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.05);
  opacity: 70%;
}

.vm-vision h3 {
  color: #0077a6;
  font-family: "syne", sans-serif;
  font-size: 26px;
}

.vm-vision .vm-line {
  background: #0077a6;
}

/* ===== Mission ===== */
.vm-mission {
  position: relative;
  border-radius: 20px;
  padding: 30px;

  /* glass background */
  background: rgba(222, 198, 160, 0.35); /* beige tint */
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);

  /* soft border like screenshot */
  border: 1px solid rgba(255, 255, 255, 0.3);

  /* smooth shadow */
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.05);
  opacity: 70%;
}

.vm-mission h3 {
  color: #f39c12;
  font-family: "syne", sans-serif;
  font-size: 26px;
}

.vm-vision h3::after {
  color: #f39c12;
}

.vm-mission .vm-line {
  background: #f39c12;
}

/* ===== Responsive ===== */

/* tablet */
@media (max-width: 992px) {
  .vm-cards {
    flex-direction: column;
  }
}

/* mobile */
@media (max-width: 600px) {
  .vm-title {
    font-size: 24px;
  }

  .vm-card {
    padding: 20px;
  }

  .vm-card p {
    font-size: 13px;
  }
}
